[submodule "repos/opencode"]
	path = repos/opencode
	url = https://github.com/anomalyco/opencode.git
	branch = dev
[submodule "repos/opencode-litellm"]
	path = repos/opencode-litellm@BlakeHastings
	url = https://github.com/BlakeHastings/opencode-litellm.git
[submodule "repos/opencode-litellm@yuseferi"]
	path = repos/opencode-litellm@yuseferi
	url = https://github.com/yuseferi/opencode-litellm.git
[submodule "plugins/oclitellmac"]
	path = plugins/oclitellmac
	url = git@github.com:maggu2810/oclitellmac
[submodule "repos/opencode-forge"]
	path = repos/opencode-forge
	url = https://github.com/chriswritescode-dev/opencode-forge.git
[submodule "repos/bun"]
	path = repos/bun
	url = https://github.com/oven-sh/bun.git
